/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
}
html, body {
  height: 100%;
  /*overflow-y: hidden;*/
}

/*
 * Typography
 */

h1 {
  margin-bottom: 20px;
  padding-bottom: 9px;
  border-bottom: 1px solid #eee;
}

progress {
  /* Positioning */
  position: fixed;
  left: 0;
  top: 0;

  /* Dimensions */
  width: 100%;
  height: 1px;

  /* Reset the appearance */
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;

  /* Get rid of the default border in Firefox/Opera. */
  border: none;

  /* Progress bar container for Firefox/IE10+ */
  background-color: transparent;

  /* Progress bar value for IE10+ */
  color: lime;
  z-index: 1050;

  -webkit-transition : .5s ease;
  -moz-transition : .5s ease;
    -o-transition : .5s ease;
       transition : .5s ease;
}

progress::-webkit-progress-bar {
  background-color: transparent;
}

progress::-webkit-progress-value {
  -webkit-transition : .5s ease;
  -moz-transition : .5s ease;
    -o-transition : .5s ease;
      transition : .5s ease;
}

.progress-red::-webkit-progress-value {
  background-color: red;
}

.progress-yellow::-webkit-progress-value {
  background-color: yellow;
}

.progress-lime::-webkit-progress-value {
  background-color: lime;
}

.file {
  visibility: hidden;
  position: absolute;
}

/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  top: 51px;
  bottom: 0;
  left: 0;
  z-index: 1000;
  padding: 20px;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  border-right: 1px solid #eee;
}

/* Sidebar navigation */
.sidebar {
  padding-left: 0;
  padding-right: 0;
}

.sidebar .nav {
  margin-bottom: 20px;
}

.sidebar .nav-item {
  width: 100%;
}

.sidebar .nav-item + .nav-item {
  margin-left: 0;
}

.sidebar .nav-link {
  border-radius: 0;
}

/*
 * Dashboard
 */

 /* Placeholders */
.placeholders {
  padding-bottom: 3rem;
}

.placeholder img {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.table th
{
  border-top: none;
}

textarea {
  font-family: monospace;
}

.form-control:disabled {
  cursor: text;
}

.input-group-addon {
  line-height: .8;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}

main
{
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

hr
{
  width: 100%;
}
.fill
{
  /*flex-grow: 1;*/
  height: 85%;
  margin-bottom: 10px;
}

.connected-text:after
{
  color: lime;
  content: "chrome app";
}
.disconnected-text:after
{
  color: red;
  content: "chrome app";
}

.clear-btn
{
  height: calc(2.25rem + 2px);
}

.modal-lg
{
  max-width: 80%;
}

.options-btn{
  color: #cacaca;
  border-color: #cacaca;
  background-color: #292b2c;
}

.options-btn:hover,
.options-btn:focus,
.options-btn.active
{
  outline: none !important;
  box-shadow: none;
  color: #000000;
  background-color: #cacaca;
  border-color: #cacaca;
}

.supsub {position: absolute}
.subscript {display:block; position:relative; left:5px; top: 23px}
.superscript {display:block; position:relative; left:5px; top: 7px}

textarea[disabled="disabled"], textarea[disabled] { background-color:white !important;   }
